html {
	width: 100%;
}
html, body {
	background-color: #000;
	height: 100%;
	color: #666;
}

h1, h2, h3, h4, .pure-menu-link {
	font-family: "Sawarabi Gothic";
	color: #555;
}
p {
	overflow-wrap: break-word;
}

#header, #footer {
	color: #FFF;
}
#header {
	background-color: #1A1C1E;
}
.content {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1200px;
	background-color: #FFF;
	.header, .footer {
		background-color: #1A1C1E;
	}
	.header {
		margin: 0;
		.menu-list {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			.menu-item {
				display: block;
				float: left;
				height: 80px;
				.menu-link {
					display: block;
					color: #FFF;
					margin: 0;
					padding: 0 10px;
					line-height: 80px;
					text-decoration: none;
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;
					&:hover {
						color: #666;
						background-color: #FFF;
						font-weight: bold;
					}
				}
			}
		}
		.header-default {
			padding: 0 10px !important;
			height: 80px;
			#logo {
				height: 64px;
				padding: 2px;
			}
		}
		.header-mobile {
			display: none;
			#logo {
				height: 70px;
				float: left;
			}
			.menu-button {
				float: right;
				display: block;
				color: #FFF;
				font-size: 40px;
				padding: 10px 20px;
				margin: 0;
				&:hover {
					color: #666;
					background-color: #FFF;
				}
			}
			.menu-list {
				display: block;
				clear: both;
				height: 0;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				.menu-item {
					display: block;
					float: none;
					height: 40px;
					.menu-link {
						line-height: 40px;
					}
				}
			}
			input[type="checkbox"] + .menu-list{
				height: 0;
				overflow: hidden;
			}
			input[type="checkbox"]:checked + .menu-list{
				height: 200px;
			}
		}
	}
	.front-image {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.center {
		margin: 0 auto;
		max-width: 800px;
		padding: 10px;
		h1 {
			text-align: center;
			margin: 0;
			padding-top: 40px;
		}
		section {
			padding: 40px 0;
		}
		img {
			display: block;
			width: 100%;
		}
		.side-image {
			text-align: center;
			height: 100%;
			img {
				margin: auto;
				max-width: 400px;
			}
		}
		.right {
			text-align: right;
		}
		.center {
			text-align: center;
		}
		.round {
			border-radius: 50%;
			max-width: 80%;
		}
	}
	.footer {
		padding: 40px 20px;
		a, a:visited {
			color: #FFF;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 40.5em){
	.header-default {
		display: none !important;
	}
	.header-mobile {
		display: block !important;
	}
}
