html {
	width: 100%;
}
html, body {
	background-color: #190000;
	height: 100%;
	color: #666;
}

h1, h2, h3, h4, .pure-menu-link {
	font-family: "Sawarabi Gothic";
	color: #555;
}

#header, #footer {
	color: #FFF;
}
#header {
	background-color: #1A1C1E;
}
.content {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1200px;
	background-color: #FFF;
	.header, .footer {
		background-color: #1A1C1E;
	}
	.header {
		padding: 0 10px !important;
		margin: 0;
		height: 80px;
		#logo {
			height: 64px;
			padding: 2px;
		}
		.pure-menu-list {
			height: 80px;
		}
		.pure-menu-item {
			margin: 0;
			.pure-menu-link {
				margin: 0;
				padding: 0 10px;
				font-size: 16px;
				line-height: 80px;
			}
		}
	}
	.front-image {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.center {
		margin: 0 auto;
		max-width: 800px;
		padding: 10px;
		h1 {
			text-align: center;
			margin: 0;
			padding-top: 40px;
		}
		section {
			padding: 40px 0;
		}
		img {
			display: block;
			width: 100%;
		}
		.side-image {
			text-align: center;
			height: 100%;
			img {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.right {
			text-align: right;
		}
		.center {
			text-align: center;
		}
		.round {
			border-radius: 50%;
			max-width: 80%;
		}
	}
	.footer {
		padding: 40px 20px;
		a, a:visited {
			color: #FFF;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}