div.footer
	span.
		© 2017 肉の山本. Created by 
	span
		a(href="http://twitter.com/shogo_kamachi" target="_blank").
			@shogo_kamachi
	span.
		 / 
	span
		a(href="http://falxter.co.jp" target="_blank").
			FALXTER K.K.