div.header
	div.header-default
		ul.menu-list
			li.menu-item
				a(href="/")
					img(src="/img/logo.webp")#logo
			li.menu-item
				a(href="/intro.html").menu-link.
					ご挨拶
			li.menu-item
				a(href="/menu.html").menu-link.
					お食事
			li.menu-item
				a(href="/sale.html").menu-link.
					お肉の販売
			li.menu-item
				a(href="/access.html").menu-link.
					アクセス
			li.menu-item
				a(href="/info.html").menu-link.
					会社概要

	div.header-mobile
		div.logo
			a(href="/")
				img(src="/img/logo.webp")#logo
		div.menu-button
			label(for="menu-check")
				i(class="fa fa-bars")
		input(type="checkbox")#menu-check.hidden
		ul.menu-list
			li.menu-item
				a(href="/intro.html").menu-link.
					ご挨拶
			li.menu-item
				a(href="/menu.html").menu-link.
					お食事
			li.menu-item
				a(href="/sale.html").menu-link.
					お肉の販売
			li.menu-item
				a(href="/access.html").menu-link.
					アクセス
			li.menu-item
				a(href="/info.html").menu-link.
					会社概要