div.header.pure-menu.pure-menu-horizontal
	ul.pure-menu-list
		//- li
		li.pure-menu-item
			a(href="/")
				img(src="/img/logo.webp")#logo
		li.pure-menu-item
			a(href="/intro.html").pure-menu-link.
				ご挨拶
		li.pure-menu-item
			a(href="/menu.html").pure-menu-link.
				お食事
		li.pure-menu-item
			a(href="/sale.html").pure-menu-link.
				お肉の販売
		li.pure-menu-item
			a(href="/access.html").pure-menu-link.
				アクセス
		li.pure-menu-item
			a(href="/info.html").pure-menu-link.
				会社概要