doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="Cache-Control" content="no-cache")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css")
		//- link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css")
		link(rel="stylesheet" type="text/css" href="/css/style.css" )
		title 肉の山本
body
	header#header
		div.content
			div.header.pure-menu.pure-menu-horizontal
				ul.pure-menu-list
					//- li
					li.pure-menu-item
						a(href="/")
							img(src="/img/logo.webp")#logo
					li.pure-menu-item
						a(href="#").pure-menu-link.
							ご挨拶
					li.pure-menu-item
						a(href="#").pure-menu-link.
							お食事
					li.pure-menu-item
						a(href="#").pure-menu-link.
							お肉の販売
					li.pure-menu-item
						a(href="#").pure-menu-link.
							アクセス
					li.pure-menu-item
						a(href="#").pure-menu-link.
							会社概要
	section#body
		div.content
			img(src="/img/front_image.jpg").front-image
			div.center
				h1.
					WELCOME
				section
					h2.
						ようこそ 肉の山本へ
					div.pure-g
						p.pure-u-1.
							当店は、特選黒毛和牛を中心に安心、安全などにこだわり、産地を吟味した食材を使用しております。
							真心のおもてなしをお客様に感じて頂ける様、従業員一同努力をいたしております。
							黒毛和牛の最上質部分を使った牛にぎり寿司や、牛懐石など、幅広い年代の方にでも特選黒毛和牛を堪能して頂く様、努力、工夫を重ねております 。
						div.pure-u-1
							img(src="/img/syabusyabu.jpg")
				section
					h2.
						ご予約
					p.
						お電話、又はメールにてご予約いただけます。
					table.pure-table.pure-table-bordered
						tbody
							tr
								td.
									電話
								td.
									042-623-4129
							tr
								td.
									メール
								td
									a(href="mailto:i_mode@nikunoyamamoto.co.jp").
										i_mode@nikunoyamamoto.co.jp
				section
					h2.
						営業時間
					table.pure-table.pure-table-bordered
						tbody
							tr
								td.
									昼の営業
								td.
									11時30分 ～ 14時30分
							tr
								td.
									夜の営業
								td.
									17時00分 ～ 21時30分
							tr
								td.
									定休日
								td.
									毎週月曜日
									※ 夏休み・年末年始休暇がございます。
	footer#footer
		div.content
			div.footer
				span.
					© 2017 肉の山本. Created by 
				span
					a(href="http://twitter.com/shogo_kamachi" target="_blank").
						@shogo_kamachi
				span.
					 / 
				span
					a(href="http://falxter.co.jp" target="_blank").
						FALXTER K.K.