extends master
block content
	img(src="/img/front_image.jpg").front-image
	div.center
		h1.
			WELCOME
		section
			h2.
				ようこそ 肉の山本へ
			div
				div
					p.
						当店は、特選黒毛和牛を中心に安心、安全などにこだわり、産地を吟味した食材を使用しております。
					p.
						真心のおもてなしをお客様に感じて頂ける様、従業員一同努力をいたしております。
					p.
						黒毛和牛の最上質部分を使った牛にぎり寿司や、牛懐石など、幅広い年代の方にでも特選黒毛和牛を堪能して頂く様、努力、工夫を重ねております 。
		section.side-image
			img(src="/img/syabusyabu.jpg").round
		section
			h2.
				ご予約
			p.
				お電話、又はメールにてご予約いただけます。
			table.pure-table.pure-table-bordered
				tbody
					tr
						td.
							電話
						td.
							042-623-4129
					tr
						td.
							メール
						td
							a(href="mailto:i_mode@nikunoyamamoto.co.jp").
								i_mode@nikunoyamamoto.co.jp
		section
			h2.
				営業時間
			table.pure-table.pure-table-bordered
				tbody
					tr
						td.
							昼の営業
						td.
							11時30分 ～ 14時30分
					tr
						td.
							夜の営業
						td.
							17時00分 ～ 21時30分
					tr
						td.
							定休日
						td.
							毎週月曜日
							※ 夏休み・年末年始休暇がございます。