extends master
block content
	div.center
		section.pure-g
			h2.pure-u-1.
				ご挨拶
			div.pure-u-1.pure-u-sm-2-3
				p.
					本日は、肉の山本ホームページにアクセスしていただき、誠にありがとうございます。
				p.
					当店は、厳選された黒毛和牛を中心に、味、産地、安全性など、こだわりある食材を吟味し、真心を込めたおもてなしで、お客様に気に入っていただけるよう、従業員ともども努力いたしております。
				p.
					当店が自身を持って厳選した黒毛和牛の最上級肉を使った和風ステーキ。牛肉を懐石に絶妙に取り入れるなど、日々精進し、幅広い年代の方にでも堪能していただけるよう、工夫を重ねております。
				p.
					厳しい世の中ではございますが、皆様の日頃の疲れやストレスを私どもの店において行っていただけるよう、お迎えいたしたいと思いますので、皆様のご来店を心よりお待ちしております
				div.right
					p.
						女将　山本順子
			div.pure-u-1.pure-u-sm-1-3
				p.side-image
					img(src="/img/cut.webp").round.center
