extends master
block content
	div.center
		section
			h2.
				お食事
		section.pure-g
			h3.pure-u-1.
				ステーキセット
			p.pure-u-1.
				ライス、スープ、サラダ、コーヒーがセットになります。
			section.pure-u-1-3
				h4.
					国産牛サーロイン 150g
				p.
					2,500円
			section.pure-u-1-3
				h4.
					国産牛ヒレ 130g
				p.right.
					3,300円
			section.pure-u-1-3
				h4.
					黒毛和牛上ヒレ 150g
				p.right.
					3,800円
			section.pure-u-1-3
				h4.
					黒毛和牛上サーロイン 180g
				p.right.
					3,800円
			section.pure-u-1-3
				h4.
					黒毛和牛特選ヒレ 130g
				p.right.
					5,000円
			section.pure-u-1-3
				h4.
					黒毛和牛特選サーロイン 180g
				p.right.
					5,000円
		section
			h3.
				2F
