extends master
block content
	div.center
		section
			h2.
				お食事メニュー
			p.
					当店ではお食事の他、店頭で特選黒毛和牛をお買い求めいただけます。
		section
			h3.
				特選黒毛和牛ギフト
			div
				h4.
					すき焼用
				p.right.
					7,000円　8,000円　10,000円
			div
				h4.
					しゃぶしゃぶ用
				p.right.
					7,000円　8,000円　10,000円
			div
				h4.
					ステーキ用
				p.right.
					8,000円　10,000円
